<section>
    <div class="container">
        <div id="menu">
                <div class="row nav">
                    <div class="col-md-3" id="menu1">
                        <div class="titlee">
                            <a href="">
                                <i class="fas fa-bars"></i>
                                <span>DANH MỤC SẢN PHẨM</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7" id="menu2">
                        <span>
                            <i class="far fa-check-circle"></i>
                            <img src="" alt="">
                            100% Chính Hãng
                        </span>
                        <span>
                            <i class="fas fa-hand-holding-usd"></i>
                            <img src="" alt="">
                            Giá ưu đãi nhất
                        </span>
                        <span>
                            <i class="	fas fa-truck"></i>
                            Miễn Phí vận chuyển
                        </span>
                        <span>
                            <i class="	fab fa-google-drive"></i>
                            Bảo hành sử dụng
                        </span>
                    </div>
                    <div class="col-md-2" id="menu3">
                        <a href="">DEAL GIỜ VÀNG</a>
                    </div>
                </div>
            </div>
        </div>
</section>
