
@{
    Layout = null;
}
<body>
    <section>
        <div class="container info">
            <div class="line"></div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        <p id="fb">FACEBOOK</p>
                    </h2>
                    <iframe name="f12488f86db2bc" width="450px" height="215px"
                            data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin"
                            frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                            allow="encrypted-media"
                            src="https://www.facebook.com/v10.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df21b91d4627c25c%26domain%3Dwww.phucanh.vn%26origin%3Dhttps%253A%252F%252Fwww.phucanh.vn%252Ff18c5c09dfb7b88%26relation%3Dparent.parent&amp;container_width=0&amp;height=215&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fphucanhsmartworld%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=500"
                            style="border: none; visibility: visible; width: 500px; height: 130px;" class="">
                    </iframe>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <p id="TongDai">Tổng đài hỗ trợ</p>
                    </h2>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <span id="hotline">
                                                <i class="fas fa-phone-alt"> Bán hàng trực tuyến:</i>
                                            </span>
                                            <b id="number">1900 2164</b>- nhánh số 1 (8h15- 20h30)
                                        </p>
                                        <p>
                                            <span id="hotline">
                                                <i class="fas fa-phone-alt"> Bán hàng dự án và doanh nghiệp:</i>
                                            </span>
                                            <b id="number">1900 2164</b>- Nhánh số 2 (8h15- 17h15, Thứ 2- Thứ 7)
                                        </p>

                                        <p>
                                            <span id="hotline">
                                                <i class="fas fa-phone-alt"> Tư vấn mua trả góp:</i>
                                            </span>
                                            <b id="number">094 558 23 23</b>(8h15- 20h30)
                                        </p>
                                    </td>
                                    <td style="padding-left: 20px">
                                        <p style="margin-bottom: 0;">
                                            <span id="hotline">
                                                <i class="fas fa-phone-alt"> Hỗ trợ kỹ thuật:</i>
                                            </span>
                                            <b id="number">1900 2165</b>(8h15- 17h15, Thứ 2- Thứ 7)
                                        </p>
                                        <p>
                                            <span id="hotline">
                                                <i class="fas fa-phone-alt"> Tra cứu bảo hành- Yêu cầu dịch vụ:</i>
                                            </span>
                                            <b id="number">1900 2173</b>(8h15-17h15, Thứ 2- Thứ 7)
                                        </p>
                                        <p>
                                            <span id="hotline">
                                                <i class="fas fa-phone-alt"> Góp ý, khiếu nại:</i>
                                            </span>
                                            <b id="number">1900 2174</b>(8h15-20h)
                                        </p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="line"></div>
                <div class="">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row1">
                                        <b>Thông tin công ty</b>
                                        <a href="">Giới thiệu công ty</a>
                                        <a href="">Thông tin liên hệ</a>
                                        <a href="">Thông tin tuyển dụng</a>
                                        <a href="">Điều khoản giao dịch</a>
                                        <a href="">Chính sách bảo mật thông tin khách hàng</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="row1">
                                        <b>Quy định & chính sách</b>
                                        <a href="">Chính sách kinh doanh</a>
                                        <a href="">Ưu đãi cho khách hàng doanh nghiệp</a>
                                        <a href="">Ưu đãi cho khách hàng Game-Net</a>
                                        <a href="">Chính sách vận chuyển và giao nhận</a>
                                        <a href="">Chính sách bảo hành</a>
                                        <a href="">Chính sách đổi trả sản phẩm</a>

                                    </div>
                                </td>
                                <td>
                                    <div class="row1">
                                        <b>Hỗ trợ khách hàng</b>
                                        <a href="">Hướng dẫn mua hàng online</a>
                                        <a href="">Hướng dẫn mua hàng trả góp</a>
                                        <a href="">Phương thức thanh toán</a>
                                        <a href="">Yêu cầu báo giá</a>
                                        <a href="">Liên hệ kỹ thuật</a>
                                        <a href="">Góp ý khiếu nại</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="row2">
                                        <a href="">
                                            <img src="image/icon/dathongbao.png" alt="">
                                        </a>
                                        <span>
                                            <p><button>Đăng ký</button> nhận tin Khuyến Mãi</p>
                                        </span>
                                        <input type="text" id="my-email" placeholder="Nhập địa chỉ email của ban">
                                        <button>GỬI NGAY</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="footer">
            <div class="container ">
                <div id="footerID">
                    <table>
                        <tbody>
                            <tr>
                                <td id="td">
                                    <div class="add">
                                        <b>PHÒNG BÁN HANG TRỰC TUYẾN</b>
                                        <a href="">Địa chỉ: Tầng 4, 134 Thái Hà, Đống Đa, Hà Nội</a>
                                        <a href="">Điện thoại: 1900 2164(ext 1)</a>
                                        <a href="">Email: banhangonline@phucanh.com.vn</a>
                                        <a href="">[Bản đồ đương đi]</a>
                                    </div>
                                </td>
                                <td id="td">
                                    <div class="add">
                                        <b>SHOWROOM PHÚC ANH 15 XÃ ĐÀN</b>
                                        <a href="">Địa chỉ: 15 Xã Đàn, Đống Đa, Hà Nội</a>
                                        <a href="">Điện thoại:(024) 35737383"</a>
                                        <a href=""> hoặc (024) 39689966 (ext1)</a>
                                        <a href="">Email: phucanh.xadan@phucanh.com.vn</a>
                                        <a href="">Giờ mở cửa từ 08h15 đến 21h00</a>
                                    </div>
                                </td>
                                <td id="td">
                                    <div class="add">
                                        <b>SHOWROOM PHÚC ANH 15 XÃ ĐÀN</b>
                                        <a href="">Địa chỉ: 15 Xã Đàn, Đống Đa, Hà Nội</a>
                                        <a href="">Điện thoại:(024) 35737383 "</a>
                                        <a href="">hoặc (024) 39689966 (ext1)</a>
                                        <a href="">Email: phucanh.xadan@phucanh.com.vn</a>
                                        <a href="">Giờ mở cửa từ 08h15 đến 21h00</a>
                                    </div>
                                </td>
                                <td id="td">
                                    <div class="add">
                                        <b>SHOWROOM PHÚC ANH 15 XÃ ĐÀN</b>
                                        <a href="">Địa chỉ: 15 Xã Đàn, Đống Đa, Hà Nội</a>
                                        <a href="">Điện thoại:(024) 35737383"</a>
                                        <a href=""> hoặc (024) 39689966 (ext1)</a>
                                        <a href="">Email: phucanh.xadan@phucanh.com.vn</a>
                                        <a href="">Giờ mở cửa từ 08h15 đến 21h00</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="footerID">
                    <table>
                        <tbody>
                            <tr>
                                <td id="td1">
                                    <div class="add">
                                        <b>SHOWROOM PHÚC ANH 15 XÃ ĐÀN</b>
                                        <a href="">Địa chỉ: 15 Xã Đàn, Đống Đa, Hà Nội</a>
                                        <a href="">Điện thoại:(024) 35737383"</a>
                                        <a href=""> hoặc (024) 39689966 (ext1)</a>
                                        <a href="">Email: phucanh.xadan@phucanh.com.vn</a>
                                        <a href="">Giờ mở cửa từ 08h15 đến 21h00</a>
                                    </div>
                                </td>
                                <td id="td1">
                                    <div class="add">
                                        <b>SHOWROOM PHÚC ANH 15 XÃ ĐÀN</b>
                                        <a href="">Địa chỉ: 15 Xã Đàn, Đống Đa, Hà Nội</a>
                                        <a href="">Điện thoại:(024) 35737383"</a>
                                        <a href=""> hoặc (024) 39689966 (ext1)</a>
                                        <a href="">Email: phucanh.xadan@phucanh.com.vn</a>
                                        <a href="">Giờ mở cửa từ 08h15 đến 21h00</a>
                                    </div>
                                </td>
                                <td id="td1">
                                    <div class="add">
                                        <b>SHOWROOM PHÚC ANH 15 XÃ ĐÀN</b>
                                        <a href="">Địa chỉ: 15 Xã Đàn, Đống Đa, Hà Nội</a>
                                        <a href="">Điện thoại:(024) 35737383 </a>
                                        <a href="">hoặc (024) 39689966 (ext1)</a>
                                        <a href="">Email: phucanh.xadan@phucanh.com.vn</a>
                                        <a href="">Giờ mở cửa từ 08h15 đến 21h00</a>
                                    </div>
                                </td>
                                <td id="td1">
                                    <div class="add">
                                        <b>SHOWROOM PHÚC ANH 15 XÃ ĐÀN</b>
                                        <a href="">Địa chỉ: 15 Xã Đàn, Đống Đa, Hà Nội</a>
                                        <a href="">Điện thoại:(024) 35737383"</a>
                                        <a href=""> hoặc (024) 39689966 (ext1)</a>
                                        <a href="">Email: phucanh.xadan@phucanh.com.vn</a>
                                        <a href="">Giờ mở cửa từ 08h15 đến 21h00</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

>

