
.top ul li {
    list-style: none;
    display: inline-block;
}

    .top ul li a {
        padding-left: 10px;
        text-decoration: none;
        color: #f2f2f2;
        font-size: 13px;
    }

.header {
    padding-right: 0px;
    padding-left: 0px;
}

.menu-lv1 {
    position: relative;
    display: inline-block;
    width: 50%;
}

    .menu-lv1 li a i {
        padding-left: 20px;
    }

    .menu-lv1 i {
        color: aliceblue;
    }

    .menu-lv1 li {
        list-style: none;
        text-decoration: none;
    }

.menu-lv1-content li:hover {
    background: wheat;
    color: black;
}

.menu-lv1:hover .menu-lv1-content {
    display: grid;
}

.acc {
    display: inline-flex
}

    .acc a i {
        padding-left: 45px;
    }

#idAcc {
    padding-left: 25px;
    color: white;
    font-style: oblique;
}

.menu-lv1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0px;
    left: 0px;
    top: 24px;
}

    .menu-lv1-content b {
        color: black;
    }

div.container.cont, .info {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.top ul {
    margin: 0px;
    text-align: center;
}

.top {
    background-color: #365899;
    width: 100%;
    height: auto;
}

#logo img {
    width: 250px;
    height: auto;
    padding-right: 15px;
}

#searchID {
    width: 390px;
}

#IDheader {
    display: flex;
}

#cartID {
    padding-top: 20px;
    margin-left: 20px;
}

#cart-header {
    background-color: red;
    color: white;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
}

#cartID b {
    display: inline-block;
    width: 20px !important;
    border-radius: 100%;
    background: #fff;
    color: red;
    line-height: 20px;
    text-align: center;
}

#search {
    margin-top: 15px;
    margin-left: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: solid 1px #de0b00;
    height: 40px;
    border-radius: 6px;
    width: 400px;
}

#search-type {
    width: 100px;
    border: none;
}

#searchID {
    width: 300px;
    border: none;
    padding-left: 5px;
    outline: none;
}

#phone {
    color: red;
    padding-right: 40px;
    padding-top: 15px;
    font-size: 15px;
    padding-left: 40px;
    margin-left: 25px;
}

#phone b {
    font-size: 20px;
}

#phone a {
   color: red;
   font-size: 13px;
}

.main-header {
    height: 40px;
    padding-top: 8px;
}

.body {
    padding-top: 10px;
}

.banner-mid img {
    width: 100%;
    height: auto;
    padding-right: 10px;
    padding-top: 25px;
    padding-left: 15px;
}

.img-5 {
    margin-left: 0px;
    margin-right: 0px;
}

.img-small {
    padding-left: 0px;
}

#icon {
    padding-right: 10px;
    padding-left: 10px;
}

.item-banner img {
    max-width: 100%;
    padding-left: 5px;
}

.content-menu ul li {
    list-style: none;
}

.content-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}

#menu {
    max-width: 100%;
    background-color: #365899;
    border-radius: 3px;
}

#menu1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu2 {
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu1 span {
    color: #FFEA01;
    display: inline-block;
}

#menu2 span {
    color: #FFEA01;
    padding: 3px;
    text-align: center;
    font-size: 13px;
}

#menu3 a {
    color: #FFEA01;
    padding-left: 30px;
}

#menu3 {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #d00;
}

    #menu3::before {
        content: '';
        display: block;
        border: solid 33px transparent;
        border-bottom-color: #365899;
        position: absolute;
        left: -33px;
        top: -32px;
    }

.news ul li {
    list-style: none;
    text-decoration: none;
}

.main-menu li a {
    text-decoration: none;
    padding-left: 5px;
    font-size: 13px;
    color: #000;
}

.main-menu li {
    list-style: none;
    border-top: solid 1px #ddd;
    padding: 1px 0px;
}

.main-menu {
    position: absolute;
    top: 0px;
    border: solid 1px #d00;
    background: #fff;
    z-index: 9999;
    width: 90%;
    left: 0px;
    padding-left: 5px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.lap1:hover .list-sub-hover {
    display: block;
}

.list-sub-hover {
    display: none;
    position: absolute;
    left: 90px;
    top: auto;
    width: 200px;
    background: #ece7e7;
    min-height: auto;
    border-style: ridge;
}

    .list-sub-hover a {
        display: grid;
    }

.ti-menu b {
    padding-top: 15px;
    color: red;
    font-size: 15px;
}

.box-cat {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 25%;
}

.new-sub {
    display: grid;
}

.menu-detail {
    display: none;
    position: absolute;
    left: 263px;
    top: -2px;
    width: 900px;
    background: #ece7e7;
    min-height: 500px;
}

.hover:hover .menu-detail {
    display: block;
}

.hover i {
    width: 20px;
    height: 20px;
}

.title {
    margin-top: 20px;
    display: flex;
    background-color: #365899
}

    .title span h2 {
        font-size: 15px;
        padding-right: 40px;
        padding-left: 3px;
        padding-top: 4px;
        color: white;
    }

    .title span i {
        padding-left: 5px;
        padding-top: 5px;
        color: white;
    }

    .title span {
        display: flex;
    }

    .title a {
        color: white;
        margin-left: 30px;
    }
.h-title {
    color: white;
}
.time {
    color: #999;
}

.ul {
    padding-left: 0px;
}

    .ul li {
        padding: 10px 0;
        border: solid 1px thistle;
    }

        .ul li img {
            max-width: 100px;
            float: left;
            max-height: 60px;
        }

.a-right {
    display: block;
    margin-left: 100px;
    padding-left: 5px;
    color: #000;
}

.product-new {
    display: none;
}

.name {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: normal;
}

.tabs {
    display: flex;
    border-bottom-style: solid;
    margin-bottom: 10px;
}

.tablinks {
    outline: none !important;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s ease;
}

    .tablinks:hover {
        background: wheat;
        color: black;
    }

    .tablinks.active {
        background: red;
        color: #fff;
    }

.product-list.active {
    display: flex;
}

.product-list {
    display: none;
}

#productID {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.col {
    border: solid 1px thistle;
}

    .col a img {
        text-align: center;
    }

.img-big {
    padding-right: 0px;
    border: solid 1px thistle;
}

    .img-big img {
        width: 100%;
        height: auto;
    }

.img-table img {
    width: 100%;
    height: auto;
}

.img-table {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.img-big a {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.img4-table {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#img-table-1 {
    padding-left: 20px;
    padding-right: 10px;
}

    #img-table-1 a {
        display: block;
        font-size: 15px;
        color: black
    }

#price {
    color: red;
    font-size: 12px;
    display: block;
}

#pro-icon {
    display: block;
    font-size: 10px;
}

#tick {
    color: #12BD1B;
}

#cart {
    float: right;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.line {
    width: 100%;
    height: 3px;
    border: solid 1px red;
    margin-top: 10px;
    margin-bottom: 10px;
}

#fb {
    color: red;
    font-size: 25px;
    padding-top: 15px;
}

#TongDai {
    color: red;
    font-size: 25px;
    padding-top: 15px;
}

#number {
    color: red;
}

#hotline {
    display: block;
}

.name-product {
    background-color: #365899;
    width: 100%;
    height: 40px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .name-product p {
        color: wheat;
        padding-left: 10px;
        padding-top: 8px;
    }


.d-summary {
    display: block;
    margin-top: 10px;
    white-space: pre-line;
    line-height: 20px;
    font-size: 14px;
    height: 80px;
    overflow: hidden;
}

.d-oldprice {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
}

.d-price {
    color: #b00;
    font-weight: bold;
    font-size: 20px;
}

.logo-img {
    display: block;
}

    .logo-img b {
        color: red;
        font-size: 20px;
    }

    .logo-img img {
        padding: 20px 20px 20px 20px;
        width: 100px;
        height: 80px;
    }

.row1 b {
    color: red;
}

.row1 a {
    display: block;
    font-size: 13px;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row2 a img {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-bottom: 20px;
}

.row2 span {
    display: block;
}

    .row2 span p {
        padding-bottom: 10px;
        padding-left: 20px;
    }

        .row2 span p button {
            background-color: #056BAD;
            border-radius: 4px;
            color: white;
        }

.row2 button {
    background-color: #056BAD;
    border-radius: 4px;
    color: white;
}

#b-left {
    padding-right: 10px;
    padding-left: 0px;
}

#b-right {
    padding-left: 5px;
    padding-right: 0px;
}

    #b-right video {
        width: 100%;
    }

    #b-right img {
        width: 100%;
    }

#my-email {
    width: 240px;
    height: 33px;
    padding: 0 5px;
    border-radius: 3px;
    border: solid 1px #ccc;
    float: left;
}

#idfooter {
    padding-bottom: 20px;
}

#footerID tr {
    vertical-align: top;
}

#td {
    vertical-align: top;
    width: 25%;
    padding-right: 30px;
    padding-bottom: 20px;
}

#td1 {
    vertical-align: top;
    width: 25%;
    padding-right: 60px;
    padding-bottom: 20px;
}

.add a {
    display: block;
    font-size: 12px;
    color: white;
}

.add b {
    color: white;
    font-size: 12px;
}

.footer {
    background-color: #365899;
    width: 100%;
    height: auto;
}

.slideshow {
    padding-left: 0px;
    padding-right: 0px;
    right: 10px;
}


.info td {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}

.SoLuongSP {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    background-color: cornflowerblue;
}

.titlee i {
    color: aliceblue
}

.titlee:hover .menu-product {
    display: block;
}

.menu-product li a {
    text-decoration: none;
    padding-left: 5px;
    font-size: 13px;
    color: #000;
}

.menu-product li {
    list-style: none;
    border-top: solid 1px #ddd;
    padding: 1px 0px;
}

.menu-product {
    position: absolute;
    display: none;
    padding-left: 5px;
    border: solid 1px #d00;
    background: #fff;
    z-index: 9999;
    width: 270px;
    left: 0px;
}


.checked {
    color: orange;
}

.carousel-control-next, .carousel-control-prev {
    border: none;
}

.slider img {
    height: 200px;
    width: 100%;
}

#slider1 {
    padding-right: 5px;
}

#slider2 {
    padding-left: 5px;
}

.slider {
    padding-left: 0px;
    padding-right: 0px;
}



#breadcrumb {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
}

    #breadcrumb span {
        color: #000;
        text-transform: uppercase;
    }

.tile-product h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.slider_detailProduct img {
    width: 100%;
    height: 100%;
}

.slider-for {
    border: solid 1px thistle;
}

.slider-nav div {
    padding: 5px 5px 5px 5px;
}

.slider-nav span img {
    border: solid 1px thistle;
}

#price-listing b {
    font-size: 20px;
    text-decoration: line-through;
}

#price b {
    font-size: 22px;
}

#price {
    font-size: 12px
}

#sale1 {
    font-size: 25px;
    color: red;
}

#sale2 {
    font-size: 12px;
    display: block;
}

.p a span {
    display: block;
    font-size: 14px;
}

.button button {
    width: 220px;
    border: 3px;
    border-radius: 3px;
}

    .button button span {
        display: block;
    }

        .button button span b {
            font-size: 22px;
            color: white;
        }

.button a {
    font-size: 14px;
    color: white !important;
}

.btn1 {
    background-color: #E02425
}

.btn2 {
    background-color: #2269BA
}

.sale ul {
    list-style: none;
    padding-left: 20px;
}

    .sale ul li a {
        font-size: 12px;
        text-decoration: none;
        color: #D211A8
    }

    .sale ul li i {
        font-size: 12px;
        color: #D211A8
    }

.product-info td {
    font-size: 15px;
    color: #4471C2;
}

.right-up {
    border: solid 1px yellow;
    margin-bottom: 50px;
}

    .right-up td {
        padding-left: 10px;
    }

#IDadd {
    padding-left: 5px;
}

.right-bot {
    border: solid 1px rgb(139, 136, 139);
    border-radius: 3px;
}

    .right-bot i {
        color: yellow;
    }

    .right-bot b {
        color: red;
    }

.rb {
    text-align: center;
    padding: 10px;
}
