
@{
    ViewBag.Title = "XacNhanThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex flex-column justify-content-center" style="min-height: 515px;">
    <div class="text-center">
        <i class="fa fa-check-square" style="font-size: 80px;margin-bottom: 20px;color:springgreen;"></i>
        <h6 class="text-success">Đặt hàng thành công</h6>
        <p>Cừa hàng sẽ cho nhân viên liên hệ với bạn sớm nhất</p>
    </div>
</div>
